<div class="container">
  <div  class="first-window window">
    <app-output  [styles] = "styles" [sketch] = "sketch"></app-output>
  </div>
  <div class="btn-window window">
    <app-btns (blockEvent) = "activeBlock()" (editEvent) = "activeEdit()" (styleEvent) = "activeStyle()"></app-btns>
  </div>
  <div *ngIf = "openEdit || openStyle || openCreateTableList" class="second-window window">
    <app-edit (addEvent) = "activeCreate()" [sketch] = "editSketch" *ngIf = "openEdit" (saveEvent) = "updateSketch($event)"></app-edit>
    <app-stylization [styles] = "styles" (styleEvent) = "updateStyle($event)" *ngIf = "openStyle"></app-stylization>
    <app-create-table-list *ngIf = "openCreateTableList" (returnData) = "getTableList($event)"></app-create-table-list>
  </div>
</div>
<div class="modal-container" *ngIf = "blocked">
  <app-blocked (blockEvent) = "deactiveBlock()"></app-blocked>
</div>
